// colors

$myPink: #EE82EE;
$myBlue: #4169E1;
$myGreen: #8FBC8F;
$headingColor:rgb(41, 38, 38);
$textColor:rgb(59, 57, 57);
$borderColor:rgba(0,0,0,.4);
$textWhite:#ffffff;
$colorBg: rgb(201, 190, 190); 


//font size

$font-size: (
    "regular":16px,
    "bold":30px,
    "medium":20px,
);


//font weight
$font-weight:(
    "regular":400,
    "bold":700,
    "medium":500,
)