.setion-gap {
    padding: 100px 0;
    max-width: 700px;
    margin: auto;
  }
  .calc {
    position: absolute;
    background: aquamarine;
    padding: 10px;
    border: 2px solid  brown;
    left: 50px;
    width: calc(100% - 100px);
}
  .max {
    background: aquamarine;
    padding: 10px;
    border: 2px solid  brown;
    width: max(50%, 300px);
}
  .min {
    background: aquamarine;
    padding: 10px;
    border: 2px solid  brown;
    width: min(50%, 300px);
}
.mask1 {
    -webkit-mask-image: url(../assets/w3logo.png);
    mask-image: url(../assets/w3logo.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;    
  }
  .wm {
    position: relative;
    padding-left: 100px;
}
.vwm {
    position: absolute;
    writing-mode: vertical-rl;
    left: 0;
    font-size: 88px;
    top: 0;
    color: darkseagreen;
    font-weight: 500;
}
.im1 {
    -webkit-box-reflect: right 30px linear-gradient(to bottom, transparent, 
    rgba(0, 0, 0, 0.8)) ;
}

.im2 {
    margin-bottom: 200px;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.7));
}