@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
             
}
:root{
    --bg:rgba(220,220,220,0.8);
}
body{
    background: var(--bg);
    font-family: 'Poppins', sans-serif;
    
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}
.wrapper{
    min-height: 100vh;
    background: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.img__box {
    position: relative;
    width: 100%;
    height: 240px;
    background: red;
    border-radius: 25px;
    background: url(assets/man4.jpg);
    background-position: center center;
    background-size: cover;
}
.img__box::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px #282828;
    bottom: 70px;
}
.img__box::after {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    background: transparent;
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    box-shadow: -10px 10px #282828;
}
.content__box {
    position: relative;
    width: 100%;
    height: 150px;
    background: #fff;
    border-radius: 25px;
    border-top-left-radius: 0;
    padding: 0 15px;
}
.price__box {
    position: absolute;
    background: #fff;
    width: 50%;
    height: 80px;
    top: -80px;
    left: 0;
    border-top: 10px solid #282828;
    border-right: 10px solid #282828;
    border-top-right-radius: 25px;
}
.price__box::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    background: #fff;
    border-radius: 50%;
    box-shadow: -10px -10px #282828;
}
.price__box::after {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    background: transparent;
    border-radius: 50%;
    bottom: 0;
    right: -25px;
    box-shadow: -10px 10px #fff;
}

span.price__box span {
    position: relative;
    background: #282828;
    color: #fff;
    padding: 10px 20px;
    margin: 15px 15px;
    display: block;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 500;
}
.details__box{
    display: block;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 300;
}
a.btn {
    text-decoration: none;
    text-transform: capitalize;
    background: #282828;
    width: 100%;
    display: block;
    padding: 8px;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    margin-block-start: 12px;
}